
@{
    ViewBag.Title = "Create";
}

<h2>Create</h2>
<form method="post">
    Name <input type="text" name="Name" value="" />
    <br />
    Budget <input type="number" name="Budget" value="" />
    <br />
    Date <input type="date" name="Startdate" value="" />
    <br />
    <input type="submit" name="savedepartment" value="SAVE" class="btn btn-primary"/>
</form>

